
<th:block th:fragment="footer_css">
  <link th:href="@{/css/footer.css}" rel="stylesheet" />
</th:block>
<script src="https://kit.fontawesome.com/5a23c022ee.js" crossorigin="anonymous"></script>
  
  
  
  <div th:fragment="footer">
      <div class="footer-content">
        <h3>New Site</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui
          reprehenderit explicabo error quod dolores excepturi, autem sequi
          minus quia fugit itaque in velit exercitationem laudantium natus quasi
          eos officiis..
        </p>

        <ul class="socials">
          <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-linkedin-square"></i></a>
          </li>
        </ul>

        <div class="footer-menu">
          <ul class="f-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">CreatePost</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign-up</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
  </div>

