<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="overlay">
        <form onsubmit="event.preventDefault(); validateForm()">
            <h1>Create New Post</h1>

             <label for="title">Title:</label>
             <input type="text" id="title" placeholder="Enter Title">
             <small class="error"></small>

             <label for="description">Description:</label>
             <textarea id="description" placeholder="Enter Description" rows="6"></textarea>
             <small class="error"></small>

             <div class="center">
                 <input type="submit" value="Create Post">
                 <p id="success"></p>
             </div>

        

        </form>
    </div>
    <script src="js/script2.js"></script>
</body>
</html>